<% include partials/header %>
<div class = "container"> <!-- Makes it so that there are margins on the sides --> 


    <header class = "jumbotron"> <!-- Makes the text larger,stretches it and adds a background -->

        <h1>This is the campgrounds page!</h1>

    </header> <!--Same as div -->
    <a href ="/campgrounds/new">Add New Campground</a>

    <% campgrounds.forEach(function(campground){ %> <!--Javascript to iterate through campgrounds array and display images --!>
        <div>

            <h4><%= campground.name %></h4>
            <img src = "<%= campground.image %>"> 
        </div>

    <% }); %>
</div>

<% include partials/footer %> 
