<% include partials/header %>
<div class = "container"> <!-- Makes it so that there are margins on the sides --> 


    <header class = "jumbotron"> <!-- Makes the text larger,stretches it and adds a background -->
        <div class ="container"> <!--Embedded container to ensure margin space if browser window becomes smaller -->
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                 <a class = "btn btn-primary btn-large" href ="/campgrounds/new">Add New Campground</a>
            <p>
        </div>
    </header> <!--Same as div -->

    <div class = "row text-center" style="display:flex; flex-wrap: wrap;"> <!-- Images will go here , style properties to make sure that they stay on the same row-->
      <% campgrounds.forEach(function(campground){ %> <!--Javascript to iterate through campgrounds array and display images --!>
              <div class="col-md-3 col-sm-6"> <!-- Starts with 4 images per row, then goes down to 2 images per row, then 1 image per row -->
                 <div class="thumbnail"> <!--Holds the thumbnail -->
                    <img src = "<%= campground.image %>">
                    <div class = "caption"> <!-- Holds the caption -->
                        <h4><%= campground.name %></h4>
                        
                    </div>
                  </div> 
              </div>

        <% }); %>
    </div>
</div>

<% include partials/footer %> 
